* {
    font-family: "Rubik";
    font-size: 15px;
    font-weight: 500;
    padding: 0;
}

window#waybar {
    background-color: rgba(20, 20, 20, 0.9);
    color: #feffd3;
    border-top: 1px solid #c2a86c;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

tooltip {
    background-color: rgb(20, 20, 20);
    color: #feffd3;
    border-radius: 5px;
    opacity: 0.8;
}

tooltip label {
    color: #feffd3;
    margin: 7px 10px;
}


/* ===== Workspaces ===== */

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    padding-left: 7px;
    padding-right: 3px;
    border-radius: 0;
    opacity: 0.5;
}

#workspaces button.active {
    opacity: 1;
}


/* ===== Network ===== */
#network {
    margin: 0 13px;
}

/* ===== Volume ===== */
#pulseaudio {
    margin: 0 5px;
    min-width: 40px;
}

/* ===== Backlight ===== */
#backlight {
    margin: 0 15px;
}


/* ===== Battery ===== */
#battery {
    margin: 0 15px;
}
